body{
    border: 0;
    margin: 0;
    padding: 0;
    background-image:url(../../PlanetImg/image.png);
    background-size: 100%  100vh;
    /* background-position: 100px 100px; */
    /* background-repeat: no-repeat; */
    /* background-color: black; */
}




#planetImg{

    position: relative;

    transition: all 2s ease-out;
    width: 190px;
    top: -192px;
    left: 30px;
}
#PlanetPoligon{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* #bKReels {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}
#bK{
    position: absolute;
    width: 2400px;
    height: 1300px;
    left: -475px;
    top: -288px;
    transition: all 3s ease-in-out;
} */











.texts{
    width: 100%;
    height: 100vh;
    font-size: 15px;
    font-family: "Gill Sans", sans-serif;
    position: absolute;
    top: 0;
}
h1{
    font-size: 70px;
    font-family: DejaVu Sans Mono, monospace;
    color: white;
    position: absolute;
    letter-spacing: 3px;
    margin-left: 485px;
    margin-top: 39px;
    transition: all 2s ease-in-out;
    opacity: 0;
    }


.texts > p {
    font-size: 16px;
    color: white;
    position: absolute;
    letter-spacing: 1px;
    line-height: 21px;
    margin-top: 5px;
    transition: all 1.1s ease-in-out;
    opacity: 0;
}
.texts > p > span{
    font-size: 17px;
    font-weight: 900;
    color: white;
    position: relative;
    left: -15px;
    top: -10px;
}



.texts > p:nth-child(1){
    width: 523px;
    margin-left: 971px;
    margin-top: 52px;
}
.texts > p:nth-child(2){
    width: 765px;
    margin-left: 748px;
    margin-top: 231px;
}
.texts > p:nth-child(3){
    width: 576px;
    margin-left: 886px;
    margin-top: 382px;
}
.texts > p:nth-child(4){
    width: 376px;
    margin-left: 735px;
    margin-top: 540px;
}
.texts > p:nth-child(5){
    width: 345px;
    margin-left: 1181px;
    margin-top: 540px;
}


