body{
    border: 0;
    margin: 0;
    padding: 0;
    background-image:url(../../../PlanetImg/image.png);
    background-size: 100%  100vh;
    /* background-position: 100px 100px; */
    /* background-repeat: no-repeat; */
    /* background-color: black; */
}




#planetImg{

    position: relative;
    /* transition: all 0.1s ease-in-out; */
    width: 465px;
    top: 217px;
    left: 913px;
    rotate: 270deg;
}
.PlanetPoligon{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}
#moonPlanet{
    position: relative;
    /* transition: all 0.1s ease-in-out; */
    width: 32px;
    top: 120px;
    left: 1470px;
    rotate: 227deg;
    z-index: 1;
}



/* #bKReels {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}
#bK{
    position: absolute;
    width: 2400px;
    height: 1300px;
    left: -475px;
    top: -288px;
    transition: all 3s ease-in-out;
} */











.texts{
    width: 100%;
    height: 100vh;
    font-size: 15px;
    font-family: "Gill Sans", sans-serif;
    position: absolute;
    top: 0;
    z-index: 0;
}
h1{
    font-size: 70px;
    font-family: DejaVu Sans Mono, monospace;
    color: white;
    position: absolute;
    letter-spacing: 3px;
    margin-top: 67px;
    margin-left: -70px;
    /* transition: all 1.5s ease-in-out; */
    opacity: 0;
  }


.texts > p {
    font-size: 16px;
    color: white;
    position: absolute;
    letter-spacing: 1px;
    line-height: 21px;
    margin-top: 5px;
    /* transition: all 1.1s ease-in-out; */
    opacity: 0;
}
.texts > p > span{
    font-size: 17px;
    font-weight: 900;
    color: white;
    position: relative;
    left: -15px;
    top: -10px;
}



.texts > p:nth-child(1){
    width: 966px;
    margin-left: 60px;
    margin-top: 420px;
}
.texts > p:nth-child(2){
    width: 833px;
    margin-left: 440px;
    margin-top: 110px;
}
.texts > p:nth-child(3){
    width: 936px;
    margin-left: 143px;
    margin-top: 250px;
}
.texts > p:nth-child(4){
    width: 913px;
    margin-left: 208px;
    margin-top: 600px;
}
/* .texts > p:nth-child(5){
    width: 439px;
    margin-left: 1086px;
    margin-top: 528px;
} */


